<template>
  <div class="container" if.bind="is_connected">
    <user-bar></user-bar>
    <table>
      <tr>
        <td style="text-align:center">
          <sheader-bar></sheader-bar>
        </td>
      </tr>
      <tr>
        <td style="text-align:center">
          <work-bar></work-bar>
        </td>
      </tr>
      <tr if:bind="hasPages">
        <td style="text-align:center">
          <table>
            <tr>
              <td class="text-success">
                <strong>${pageStatus}</strong>
              </td>
            </tr>
            <tr>
              <td>
                <ul class="pagination">
                  <li show.bind="canPrevPage">
                    <a href="#" click.delegate="firstPage()">
                      <i class="fa fa-fast-backward fa-fw"></i>Début</a>
                  </li>
                  <li show.bind="canPrevPage">
                    <a href="#" click.delegate="prevPage()">
                      <i class="fa fa-step-backward fa-fw"></i>Préc.</a>
                  </li>
                  <li show.bind="canNextPage">
                    <a href="#" click.delegate="nextPage()">
                      <i class="fa fa-step-forward fa-fw"></i>Suivant</a>
                  </li>
                  <li show.bind="canNextPage">
                    <a href="#" click.delegate="lastPage()">
                      <i class="fa fa-fast-forward fa-fw"></i>Fin</a>
                  </li>
                </ul>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr if.bind="hasItems">
        <td>
          <table id="link-table">
            <tr>
              <th></th>
              <th>Date</th>
              <th>Genre</th>
              <th>Nom</th>
              <th>Matière</th>
              <th>Groupe</th>
              <th>Observations</th>
            </tr>
            <tr repeat.for="evt of items">
              <td>
                <div if.bind="evt.has_url">
                  <img src.bind="evt.url" height="48"></img>
                </div>
              </td>
              <td>${evt.dateString}</td>
              <td>${evt.genre}</td>
              <td>
                <a route-href="route: grpevt; params.bind: { id: evt.id }">${evt.name}</a>
              </td>
              <td>${evt.matiereSigle}</td>
              <td>${evt.groupeSigle}</td>
              <td>${evt.description}</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</template>
