<template>
	<div class="container" if.bind="is_connected">
		<user-bar></user-bar>
		<table>
			<tbody>
				<tr>
					<td style="text-align:center">
						<sheader-bar></sheader-bar>
					</td>
				</tr>
				<tr>
					<td style="text-align:center">
						<work-bar></work-bar>
					</td>
				</tr>
				<tr>
					<td style="text-align:center">
						<div class="form-group">
							<label class="form-label" for="genre">Genre</label>
							<select id="genre" value.bind="genre">
								<option value='TP'>Travaux Pratiques</option>
								<option value='TD'>Travaux Dirigés</option>
								<option value='COURS'>Cours Magistral</option>
								<option value='AUTRE'>Autre Genre</option>
							</select>
						</div>
					</td>
				</tr>
				<tr if.bind="canShowForm" style="vertical-align:top">
					<td style="vertical-align:top">
						<table>
							<tbody>
								<tr>
									<td>
										<table>
											<tr style="vertical-align:top">
												<td style="text-align:center">
													<h4>Enseignants</h4>
												</td>
											</tr>
											<tr>
												<td style="vertical-align:top">
													<select id="persons" multiple value.bind="currentPersons" size="16">
														<option repeat.for="pers of persons" model.bind="pers">${pers.text}</option>
													</select>
												</td>
											</tr>
										</table>
									</td>
									<td>&nbsp;&nbsp;</td>
									<td style="vertical-align:top">
										<div>
											<div>
												<a class="btn btn-primary" click.delegate="refreshAll()" href="#">
	<i class="fa fa-refresh fa-fw"></i>Rafraîchir
</a>
											</div>
											<div class="form-group">
												<label class="form-label" for="startDate">Date de début</label>
												<input class="form-control" type="date" id="startDate" value.bind="allStartDate" min.bind="minDate" max.bind="maxDate" required></input>
											</div>
											<div class="form-group">
												<label class="form-label" for="endDate">Date de fin</label>
												<input class="form-control" type="date" id="endDate" value.bind="allEndDate" min.bind="minDate" max.bind="maxDate" required></input>
											</div>
											<div class="btn-group">
												<a class="btn btn-primary" click.delegate="save()" href="#" show.bind="canSave">
													<i class="fa fa-plus fa-fw"></i>Ajouter
												</a>
												<a class="btn btn-danger" click.delegate="remove()" href="#" show.bind="canRemove">
													<i class="fa fa-trash-o fa-fw"></i>Supprimer
												</a>
											</div>
										</div>
									</td>
									<td>&nbsp;&nbsp;</td>
									<td style="vertical-align:top">
										<table>
											<tr>
												<td style="text-align:center">
													<h4>Affectations</h4>
												</td>
											</tr>
											<tr style="vertical-align:top">
												<td>
													<ul class="pagination" if.bind="hasPages">
														<li show.bind="canPrevPage">
															<a href="#" click.delegate="firstPage()">
																<i class="fa fa-fast-backward fa-fw"></i>Début</a>
														</li>
														<li show.bind="canPrevPage">
															<a href="#" click.delegate="prevPage()">
																<i class="fa fa-step-backward fa-fw"></i>Préc.</a>
														</li>
														<li show.bind="canNextPage">
															<a href="#" click.delegate="nextPage()">
																<i class="fa fa-step-forward fa-fw"></i>Suivant</a>
														</li>
														<li show.bind="canNextPage">
															<a href="#" click.delegate="lastPage()">
																<i class="fa fa-fast-forward fa-fw"></i>Fin</a>
														</li>
													</ul>
												</td>
											</tr>
											<tr>
												<td style="vertical-align:top">
													<select id="affectations" multiple value.bind="currentAffectations" size="16">
														<option repeat.for="elem of items" model.bind="elem">${elem.text}</option>
													</select>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</template>
