<template>
  <table>
    <tr>
        <td style="text-align:center" colspan="3">&nbsp;&nbsp;</td>
    </tr>
    <tr>
        <td style="text-align:center" colspan="3">
          <h2>Maintenance bases de données.</h2>
        </td>
    </tr>
    <tr>
      <td style="text-align:center">&nbsp;&nbsp;</td>
      <td style="text-align:center" if.bind="hasApplicationCache">
        <a class="btn btn-default" click.delegate="updateCache()" href="#" show.bind="canUpdateCache">
          <i class="fa fa-suitcase fa-fw"></i>Reset Cache
        </a>
      </td>
      <td style="text-align:center">
        <a class="btn btn-danger" click.delegate="destroy_database()" href="#">
          <i class="fa fa-trash-o fa-fw"></i>Supprimer Base locale
        </a>
      </td>
    </tr>
    <tr>
        <td style="text-align:center" colspan="3">&nbsp;&nbsp;</td>
    </tr>
    <tr>
    <td style="text-align:center">&nbsp;&nbsp;</td>
      <td style="vertical-align:top">
        <table>
          <tr>
            <td style="text-align:center">
              <div class="form-group">
                <label class="form-label" for="servers">Serveurs distants</label>
                <select id="servers" value.bind="currentServer">
                  <option repeat.for="serv of servers" value.bind="serv">${serv}</option>
                </select>
              </div>
            </td>
          </tr>
          <tr>
          <td style="text-align:center">
              <a class="btn btn-danger" click.delegate="removeServer()" href="#" show.bind="canRemoveServer">
                <i class="fa fa-remove fa-fw"></i>Enlever serveur distant
              </a>
            </td>
          </tr>
          <tr>
            <td style="text-align:center">
              <div>
                <div class="form-group">
                  <label class="form-label" for="candidate">Url serveur</label>
                  <input class="form-control" type="text" id="candidate" value.bind="candidateServer" placeholder="URL serveur"></input>
                </div>
                <a class="btn btn-primary" click.delegate="addServer()" href="#" show.bind="canAddServer">
                  <i class="fa fa-plus fa-fw"></i>Ajouter
                </a>
              </div>
            </td>
          </tr>
        </table>
      </td>
      <td style="text-align:center">&nbsp;&nbsp;</td>
      <td style="vertical-align:top">
        <table>
          <tr>
            <td style="text-align:center">
              <label class="form-label" for="currentServer_im">Serveur distant (IMPORT)</label>
              <input class="form-control" type="text" id="currentServer_im" value.bind="currentServer" readonly></input>
            </td>
          </tr>
          <tr>
            <td style="text-align:center">
              <div class="btn-group">
                <a class="btn btn-primary" href="#" show.bind="canImport" click.delegate="import_from()"><i class="fa fa-download fa-fw"></i>Importer</a>
                <a class="btn btn-default" href="#" show.bind="canCancelImport" click.delegate="cancel_import()"><i class="fa fa-undo fa-fw">Annuler</i></a>
                <a class="btn btn-default" href="#" click.delegate="clear_import()"><i class="fa fa-eraser fa-fw"></i>Effacer</a>
              </div>
            </td>
          </tr>
          <tr>
            <td style="text-align:center">
              <h4 class="text-success">${status_In}</h4>
            </td>
          </tr>
          <tr>
            <td style="text-align:center">
              <textarea class="form-control" rows="10" readonly.bind="isReadOnly" value.bind="outputString_In"></textarea>
            </td>
          </tr>
        </table>
      </td>
      <td style="text-align:center">&nbsp;&nbsp;</td>
      <td style="vertical-align:top">
        <table>
          <tr>
            <td style="text-align:center">
              <label class="form-label" for="currentServer_out">Serveur distant (EXPORT)</label>
              <input class="form-control" type="text" id="currentServer_out" value.bind="currentServer" readonly></input>
            </td>
          </tr>
          <tr>
            <td style="text-align:center">
              <div class="btn-group">
                <a class="btn btn-primary" href="#" show.bind="canExport" click.delegate="export_to()"><i class="fa fa-upload fa-fw"></i>Exporter</a>
                <a class="btn btn-default" href="#" show.bind="canCancelExport" click.delegate="cancel_export()"><i class="fa fa-undo fa-fw">Annuler</i></a>
                <a class="btn btn-default" href="#" click.delegate="clear_export()"><i class="fa fa-eraser fa-fw"></i>Effacer</a>
              </div>
            </td>
          </tr>
          <tr>
            <td style="text-align:center">
              <h4 class="text-success">${status_Out}</h4>
            </td>
          </tr>
          <tr>
            <td style="text-align:center">
              <textarea class="form-control" rows="10" readonly.bind="isReadOnly" value.bind="outputString_Out"></textarea>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</template>
